<section class="section">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="{{ .Site.BaseURL }}">
          <img class="avatar-img" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}"/>
        </a>
      </div>
      <div class="nav-right">
        <nav class="nav-item level is-mobile">
          {{ range .Site.Params.social }}
          <a class="level-item" href="{{ .url }}" target="_blank">
            <span class="icon">
              <i class="fa {{ .fa_icon }}"></i>
            </span>
          </a>
          {{ end }}
        </nav>
      </div>
    </nav>
  </div>
</section>
